@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper">
    <div class="d-flex flex-row form-box01">

        <input class="form-control form-item01" type="text" placeholder="Введите слово">

        <select class="form-control form-item02">
            <option>Англ</option>
            <option>Рус</option>
        </select>

        <select class="form-control form-item02">
            <option>Рус</option>
            <option>Англ</option>
        </select>

        <button type="submit" class="form-item03">Поиск</button>

    </div>
    <div class="d-flex flex-row form-box01">
        <input class="form-control form-item04" type="text">
        <input class="form-control form-item05" type="text">
    </div>
</div>