@{
    ViewData["Title"] = "Home Page";
}


<input type="text" id="txtDictionaryId" placeholder="Dictionary Id" style="display: none;"/>
<input type="text" id="txtWordEng" placeholder="Word Eng" style="margin-right: 5px;" />
<input type="text" id="txtWordRus" placeholder="Word Rus" style="margin-right: 5px;" />

<button id="btnSave" class="btn btn-success" style="margin-right: 5px;">Save</button>
<button id="btnAddNew" class="btn btn-primary" style="margin-right: 5px;">Add New</button>

<br />
<br />

<table id="tblDictionaries" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Word Eng</th>
            <th>Word Rus</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
